body{
  text-align: center;
  background-color: lightblue;
}

header{
  margin: 10px auto;
  color: red;
  width: 40%;
  height: 50%;
}

h1{
  font-size: 36px;
}

#wikiPic{
  width: 10%;
}

#searchInput{
  width: 40%;
  background-color: #AFA;
}

#goInput{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #0F0;
  color: #060;
}

.articles{
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 25%;
  background-color: #FFF;
  width: 75%;
  padding-bottom: 40px;
}

p{
  margin: -3px;
  padding: -3px;
}

#titles{
  font-size: 2em;
  font: Arial;
}
#descriptions{
  font-size: 1.2em;
  font-style: italic;
  background-color: #EEE;
  width: 90%;
  margin: 0 auto;

}
a{
  /*margin-bottom: 40px;*/
}
