body{
  text-align: center;
  background-color: lightblue;
}

header{
  margin: 10px auto;
  color: red;
  width: 40%;
  height: 50%;
}

h1{
  font-size: 36px;
}

#wikiPic{
  width: 30%;
}

#searchInput{
  width: 40%;
  background-color: #AFA;
}

/*go button*/
#goInput{
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: lightblue;
  background-color: #0F0;
  color: #060;
}

/*random button*/
#randomInput{
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: lightblue;
  background-color: #F0F;
  color: #606;
}

.articles{
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 25%;
  background-color: #FFF;
  width: 75%;
  padding-bottom: 40px;
}

#titles{
  margin: 3px;
  font-size: 2em;
  font: Arial;
  padding: 3px;
}

#descriptions{
  padding: 3px;
  font-size: 1.2em;
  font-style: italic;
  background-color: #EEE;
  width: 90%;
  margin: 3px auto;
  border: 1px blue solid;
  border-radius: 0%;
}

a{
  /*margin-bottom: 40px;*/
}
